html {
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Amatic SC", cursive;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: url("img/grass.jpg") repeat;
}

h1 {
    font-size: 8rem;
    line-height: 1;
    text-shadow: 4px 2px 1px white;
    padding: 1rem 0;
}

button {
    background-color: rgba(255, 255, 255, .2);
    outline: none;
    font-family: "Amatic SC", cursive;
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 1px white;
    cursor: pointer;
    border: .4rem solid black;
    border-radius: 1rem;
    box-shadow: 0 0 3px 3px white;
    padding: 0 3rem;
}

button:hover {
    box-shadow: 0 0 6px 6px white;
}

button:active {
    background: none;
    box-shadow: 0 0 3px 3px white;
}

.score {
    margin-left: 5rem;
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hole {
    flex-basis: 32.22%;
    margin: 0 calc(3.33% / 6);
    background-image: url("img/hole.png");
    background-size: cover;
    width: 18vh;
    overflow: hidden;
    position: relative;
}

.game::after,
.hole::after {
    content: "";
    float: right;
}

.game::after {
    padding-top: 32%;
}

.hole::after {
    padding-top: 100%;
}

.mole {
    background-image: url("img/mole-short.png");
    background-size: cover;
    width: 60%;
    height: 60%;
    transform: translateY(100%);
    position: absolute;
    top: 0;
    left: 21%;
    z-index: -1;
    transition: transform ease-out .3s;
    -webkit-transition: transform ease-out .3s;
    -moz-transition: transform ease-out .3s;
    -ms-transition: transform ease-out .3s;
}

.up {
    transform: translateY(0);
}

.active {
    z-index: 0;
}